Befor@charset "UTF-8";

/*feedback form*/
body {
	background-color: white;
	height: 100%;
}

/*container*/
.container{

	background-position: center;
    color:#F4F4F4;
    border-radius: 8px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	background-color: #969696;
}
.container p{
	margin-left: 20px
}

/*form*/
form{
	margin-left: 40px
}

textarea{
	width:32%;
	height:7em;
}

/*button*/
button {
	width: 100px;
	margin-top: 40px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 100px;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
	border: 2px solid #FFFFFF;
	background-color:#8B334B; 
	
}
/*submit*/
#submit{
	text-align: center
}
